@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600&subset=latin-ext");
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300; }

ol, ul, li, p {
  list-style: none;
  padding: 0px;
  margin: 0px; }

div, span, ul, li, p {
  box-sizing: border-box; }

a {
  text-decoration: none; }

input, button, textarea, select {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  resize: none;
  font-family: 'Montserrat', sans-serif; }

input, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.-askQuestion::-webkit-input-placeholder {
  color: white; }

.-askQuestion::-moz-placeholder {
  color: white; }

.-askQuestion:-ms-input-placeholder {
  color: white; }

.-askQuestion:-moz-placeholder {
  color: white; }

.map {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fefefe;
  z-index: -5;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../UI/sampleMap-2.png); }

.button {
  border-radius: 100%;
  text-align: center;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3); }
  .button.icn-refresh {
    font-size: 2em; }
  .button.-animated {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    background-color: #FF3366;
    margin-left: -6vh;
    width: 12vh;
    height: 12vh;
    line-height: 12vh;
    color: white;
    font-size: 2em; }
  .button.-primary {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    background-color: #FF3366;
    margin-left: -6vh;
    width: 12vh;
    height: 12vh;
    line-height: 12vh;
    color: white; }
  .button.-close {
    position: absolute;
    bottom: 7vh;
    right: 50%;
    background-color: #ccc;
    margin-right: -17vh;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    color: white;
    font-size: 2em; }
  .button.-back {
    position: absolute;
    bottom: 7vh;
    left: 50%;
    background-color: #ccc;
    margin-left: -17vh;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    color: white;
    font-size: 2em; }
  .button.-backSub {
    position: absolute;
    bottom: 6vh;
    left: 50%;
    background-color: #ccc;
    margin-left: -17vh;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    color: white;
    font-size: 2em; }
  .button.-burger {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    background-color: white;
    margin-left: -5vh;
    width: 10vh;
    height: 10vh;
    line-height: 10vh;
    font-size: 2em; }

.zonePin {
  width: 6vh;
  height: 6vh;
  border-radius: 50% 50% 50% 0;
  background: #FF3366;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -6vh 0 0 -3vh; }

.zoneBorder {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -27.5vh;
  margin-left: -27.5vh;
  width: 55vh;
  height: 55vh;
  border: 1px solid #999;
  border-radius: 100%; }

.pin {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg); }
  .pin img {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    transform: rotate(45deg); }
  .pin.-user {
    background-color: #6600ff; }

.answerPin {
  position: absolute;
  top: 50%;
  left: 2.5%;
  width: 95%;
  border-radius: 0.5em;
  background: #6600ff;
  color: white;
  z-index: 10; }
  .answerPin .pin {
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: 50%;
    bottom: -3vh;
    margin-left: -5vh;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg); }
    .answerPin .pin img {
      position: absolute;
      left: 5%;
      top: 5%;
      width: 90%;
      height: 90%;
      border-radius: 100%;
      transform: rotate(45deg); }
    .answerPin .pin.-user {
      background-color: #6600ff; }
  .answerPin .thread {
    position: relative;
    float: left;
    margin: 0.5em 0.5em 9vh 0.5em;
    font-size: 0.8em; }
  .answerPin .answer, .answerPin .replyField, .answerPin .replyBubble {
    position: relative;
    float: left;
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.5em; }
  .answerPin .replyBubble {
    background-color: #1F8BFF;
    border-radius: 0.5em 0.5em 0 0.5em;
    padding: 0.4em; }
  .answerPin .replyField {
    position: relative;
    float: left;
    width: 100%;
    border-radius: 0.5em 0.5em 0 0.5em; }
  .answerPin .report, .answerPin .reply, .answerPin .favorite {
    position: absolute;
    bottom: 0;
    width: 10vh;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    font-size: 1.6em;
    color: white; }
  .answerPin .favorite {
    left: 10vh; }
  .answerPin .report {
    right: 0vh; }
  .answerPin .reply {
    right: 10vh; }

.tempPos1 {
  top: 20%;
  left: 25%; }

.tempPos2 {
  top: 60%;
  left: 75%; }

.tempPos3 {
  top: 40%;
  left: 15%; }

.askPin {
  width: 10vh;
  height: 10vh;
  border-radius: 50% 50% 50% 0;
  background: #FF3366;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -10vh 0 0 -5vh; }
  .askPin .tag {
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 10vh;
    font-size: 2.5em;
    font-family: "Montserrat";
    font-weight: 700;
    color: white; }

.askAction {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5vh 0 0 -5vh;
  width: 10vh;
  height: 10vh;
  line-height: 8vh;
  border-radius: 100%;
  text-align: center;
  color: #FF3366;
  font-size: 8vh;
  border: 1vh solid #FF3366; }

.-mapSearch {
  position: absolute;
  border-radius: 0.5vh;
  background-color: white;
  font-size: 2.2vh;
  margin: 4vw;
  width: 92vw;
  padding: 1.5vh;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3); }

.myLocation {
  position: absolute;
  top: 2.1vh;
  right: 3.5vh;
  color: #555;
  z-index: 5;
  width: 4.5vh;
  height: 4.5vh;
  line-height: 4.5vh;
  text-align: center;
  font-size: 2.5em; }

.categoryGroup {
  position: absolute;
  top: 15vh;
  width: 60%;
  left: 20%;
  box-sizing: border-box;
  text-align: center; }
  .categoryGroup .text {
    position: relative;
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 1em 0; }
    .categoryGroup .text.-top {
      border-bottom: 1px solid black; }
    .categoryGroup .text.-bottom {
      border-top: 1px solid black; }
  .categoryGroup .buttonGroup {
    position: relative;
    float: left;
    width: 90%;
    left: 5%; }
    .categoryGroup .buttonGroup .button {
      padding: 0.5em;
      background-color: #ccc;
      border-radius: 2em;
      margin: 0.5em; }
      .categoryGroup .buttonGroup .button.-selected {
        background-color: #FF3366;
        color: white; }

.questionsGroup {
  position: absolute;
  bottom: 17vh;
  width: 100%;
  padding: 1.5vh; }
  .questionsGroup .bubbleGroup {
    position: relative;
    float: left;
    width: 100%; }
    .questionsGroup .bubbleGroup .questionBubble {
      position: relative;
      float: left;
      background-color: #85A1B9;
      color: white;
      padding: 1.5vh;
      font-size: 2.2vh;
      border-radius: 1vh;
      margin-top: 2.5vh; }
      .questionsGroup .bubbleGroup .questionBubble.-left {
        float: left; }
      .questionsGroup .bubbleGroup .questionBubble.-left:after {
        content: "";
        position: absolute;
        left: 4vw;
        bottom: -2vh;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 0 0;
        border-color: #85A1B9 transparent transparent transparent; }
      .questionsGroup .bubbleGroup .questionBubble.-right {
        float: right; }
      .questionsGroup .bubbleGroup .questionBubble.-right:after {
        content: "";
        position: absolute;
        right: 4vw;
        bottom: -2vh;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 0;
        border-color: transparent #85A1B9 transparent transparent; }
  .questionsGroup .-askQuestion {
    position: relative;
    float: left;
    background-color: #1F8BFF;
    color: white;
    border-radius: 1vh;
    font-size: 2.2vh;
    width: 100%;
    padding: 1.5vh;
    margin-top: 2.5vh; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

.loader {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  text-indent: -9999em;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 3s infinite linear;
  animation: load8 3s infinite linear; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
